

#page-header img {
  height: 90px;
}

#page-header {
  background-color: #ffd000;
  height: 100px;

  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#menu-bar {
  margin-top: 60px;
}

#menu-bar ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

#menu-bar ul li {
  padding: 4px 8px;
}

#menu-bar ul li a,
#menu-bar ul li a:active,
#menu-bar ul li a:hover,
#menu-bar ul li a:visited {
  color: navy;
  text-decoration: none;
  font-size: 18px;
}

#page-footer {
  margin: 20px 0;
  text-align: center;
}